.container{
    display: flex;
    padding: 2vmin;
    flex-wrap: wrap;
    margin-left: 2vmin;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
}
.button{
    margin: 5px;
    min-width: 280px;
    padding: 10px;
    border: 2px solid teal;
    background-color: white;
    font-weight: 500;
    cursor: pointer;
}
.titleContainer{
    padding: 5vmin;
}
.productContainer{
    height: 100%;
    width: 100%;
}
.button:hover{
    background-color: teal;
    color: white;
}
@media only screen  and (max-width: 480px) {
    .para{
        padding: 100px 0px;
    }
}