.container{
    height: 30px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 50px;
    width: 100%;
}
.marquee{
    width: 100%;
}
