.container{
    display: flex;
    padding: 5vmin;
    margin-left: 2vmin;
    flex-wrap: wrap;
    justify-content: space-between;
}
.para{
    padding: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

